* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
	width: 100%;
	
	background-color: #888888;
}

#content {
	width: 70%;
	
	margin: auto;
	
	margin-top: 20px;
	padding: 20px;
	
	background-color: #CBCBCB;
	
	border-radius: 10px;
	
	text-align: center;
	font-family: Open Sans, HelveticaNeue, sans-serif;
}

#audio-container {
	position: relative;
	width: 100%;
}

#humm-humm {
	margin-bottom: 20px;
}

#humm-humm  a{
	text-decoration: none;
	
	color: black;
	
	font-size: 30px;
	font-weight: bold;
}

#login-button {
	margin-top: 50px;
}

#audio-capture {
	text-align: center;
	margin: auto;
	
	margin-bottom: 20px;
	padding: 20px;
	
	border-radius: 6px;
	
	background-color: #F1F1F1;
}

#footer {
	font-size: 60%;
}

#disconnect {
	font-size: 40%;
}

#login, 
#captcha {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	text-align: center;
	margin: auto;
	
	padding: 20px 0px;
	
	border-radius: 6px;

	position: absolute;
	background-color: rgba(127, 127, 127, 0.95);
	z-index: 10;
}

#captcha * {
	margin: 5px;
	padding: 5px 7px;
}

#hum-here {
	font-size: 20px;
	margin-bottom: 10px;
}

#audio-buttons {
	margin: 10px;
	margin-bottom: 20px;
}

button {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 5px;
	padding: 5px 12px;
	cursor: pointer;
	outline: none;
	font-size: 13px;
	text-decoration: none !important;
	text-align: center;
	color:#fff;
	background-color: #4D90FE;
	background-image: linear-gradient(top,#4D90FE, #4787ED);
	background-image: -ms-linear-gradient(top,#4D90FE, #4787ED);
	background-image: -o-linear-gradient(top,#4D90FE, #4787ED);
	background-image: linear-gradient(top,#4D90FE, #4787ED);
	border: 1px solid #4787ED;
	box-shadow: 0 1px 3px #BFBFBF;
}

a.button{
	color: #fff;
}

.button:hover{
	box-shadow: inset 0px 1px 1px #8C8C8C;
}

button.disabled{
	box-shadow:none;
	opacity:0.7;
}

#humming-info {
	font-size: 15px;
}

#humming-info * {
	padding: 4px 5px;
}

#input-title {
	padding: 5px 7px;
	width: 400px;
}

#upload {
	margin-bottom: 1px;
}

#upload-info {
	font-style: italic;
}

#reddit {
	padding: 10px;
	
	background-color: #F1F1F1;
	
	border-radius: 6px;
}

#reddit a {
	text-decoration: none;
}

.post {
	text-align: left;

	margin: 5px;
	padding: 5px;
	
	border-radius: 4px;
	border-bottom: 2px solid #E5E5E5;
	
	background-color: white;
}

#post #audio {
	margin: 10px;
}

#posts .title {
	margin-top: 5px;
	margin-bottom: 10px;
}

a:link {
	color: #5B92FA;
}

a:visited {
	color: #7D6194;
}

.score {
	float: left;
	margin-left: 10px;
	margin-right: 20px;
	top: 20px;
	position: relative;
}

.score .up {
	width: 0;
	height: 0;
	border: transparent 6px solid;
	border-bottom: gray 10px solid;
}

.score .down {
	width: 0;
	height: 0;
	border: transparent 6px solid;
	border-top: gray 10px solid;
}

.post input[type="text"] {
	padding: 5px 7px;
	width: 400px;
}

.post button {
	float: right;
}

.post button:after {
	content:'';
	display:block;
	clear: both;
}
